Repository kubernetes-sigs/prow, pull requests merged in 2025-09, with the labels that each got.

#511 fix: prevent GitHub token leakage in git command logs
  pkg/git/v2/executor.go
  pkg/git/v2/executor_test.go
  pkg/git/v2/publisher.go
Labels: cncf-cla: yes, approved, size/L, lgtm

#433 feat: add ghproxy valkey/redis ACL support
  cmd/ghproxy/ghproxy.go
  pkg/ghcache/ghcache.go
Labels: cncf-cla: yes, ok-to-test, approved, size/M, lgtm, area/ghproxy

#519 Fix cmd that retrieve the version of plank
  site/content/en/docs/getting-started-deploy.md
Labels: cncf-cla: yes, approved, needs-ok-to-test, lgtm, size/XS, area/documentation

#521 Replace `dgrijalva/jwt-go/v4` with `golang-jwt/jwt/v4`
  go.mod
  go.sum
  pkg/clonerefs/run.go
  pkg/flagutil/github.go
  pkg/github/app_auth_roundtripper.go
  pkg/github/app_auth_roundtripper_integration_test.go
Labels: cncf-cla: yes, ok-to-test, approved, size/M, lgtm, area/podutils/clonerefs
