Repository kubernetes-sigs/prow, pull requests merged in 2025-07, with the labels that each got.

#485 Restore hack/tools module
  go.mod
  hack/make-rules/go-run/arbitrary.sh
  hack/make-rules/go-test/unit.sh
  hack/make-rules/update/codegen.sh
  hack/make-rules/update/misspell.sh
  hack/make-rules/verify/golangci-lint.sh
  hack/make-rules/verify/misspell.sh
  hack/prowimagebuilder/main.go
  hack/prowimagebuilder/main_test.go
  hack/tools/tools.go
  pkg/gangway/gangway.pb.go
  test/integration/integration-test.sh
Labels: cncf-cla: yes, approved, size/XL, lgtm, area/gangway

#489 site: add an OWNERS file to apply area/documentation label
  site/OWNERS
Labels: cncf-cla: yes, approved, lgtm, size/XS

#491 ci: remove legacy gcr.io/k8s-testimages image registry
  cmd/admission/dev.yaml
  cmd/branchprotector/oneshot-job.yaml
  cmd/generic-autobumper/imagebumper/imagebumper_test.go
  cmd/peribolos/dev.yaml
  cmd/pipeline/dev.yaml
  site/content/en/docs/components/cli-tools/generic-autobumper.md
Labels: cncf-cla: yes, ok-to-test, approved, kind/cleanup, size/M, sig/testing, lgtm, area/peribolos, area/hook, area/branchprotector, area/documentation
