Repository kubernetes-sigs/prow, pull requests merged in 2025-05, with the labels that each got.

#443 Properly set defaults for jira rate limiting
  pkg/flagutil/jira.go
Labels: cncf-cla: yes, ok-to-test, approved, size/S, lgtm

#440 fix(pkg/github): skip skipped workflow runs when collecting failed runs
  pkg/github/client.go
  pkg/github/client_test.go
Labels: cncf-cla: yes, approved, size/S, needs-ok-to-test, lgtm

#449 checkconfig: fix checking separate config hierarchies
  cmd/checkconfig/main.go
  cmd/checkconfig/main_test.go
Labels: cncf-cla: yes, approved, size/M, lgtm

#465 fix(generic comment): avoid ok-to-test message on IgnoreOkToTest
  pkg/plugins/trigger/generic-comment.go
Labels: cncf-cla: yes, ok-to-test, approved, lgtm, size/XS, area/plugins

#456 Allow reason with /unhold too
  pkg/plugins/hold/hold.go
  pkg/plugins/hold/hold_test.go
Labels: cncf-cla: yes, approved, size/S, lgtm, area/plugins
