Repository kubernetes-sigs/prow, pull requests merged in 2025-06, with the labels that each got.

#472 secretutil: implement configurable minimum secret length
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  pkg/apis/prowjobs/v1/types.go
  pkg/apis/prowjobs/v1/zz_generated.deepcopy.go
  pkg/config/prow-config-documented.yaml
  pkg/secretutil/censor.go
  pkg/secretutil/censor_test.go
  pkg/sidecar/censor.go
  pkg/sidecar/options.go
  pkg/spyglass/lenses/common/bindata.go
Labels: cncf-cla: yes, ok-to-test, approved, size/L, lgtm, area/podutils/sidecar, area/spyglass

#473 set tolerations using presets
  pkg/config/config.go
  pkg/config/jobs.go
  pkg/config/jobs_test.go
  pkg/config/zz_generated.deepcopy.go
Labels: cncf-cla: yes, approved, size/M, lgtm

#481 Upgrade Golang v1.24
  .go-version
  cmd/ghproxy/ghproxy_test.go
  go.mod
  go.sum
  hack/make-rules/go-run/arbitrary.sh
  hack/make-rules/go-test/unit.sh
  hack/make-rules/update/codegen.sh
  hack/make-rules/update/misspell.sh
  hack/make-rules/verify/golangci-lint.sh
  hack/make-rules/verify/misspell.sh
  hack/prowimagebuilder/main.go
  hack/prowimagebuilder/main_test.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  netlify.toml
  pkg/gangway/gangway.pb.go
  pkg/github/app_auth_roundtripper_test.go
  pkg/netlify.toml
  pkg/spyglass/lenses/common/bindata.go
  site/go.mod
  site/go.sum
  test/integration/integration-test.sh
Labels: cncf-cla: yes, tide/merge-method-squash, approved, lgtm, size/XXL, area/gangway, area/ghproxy, area/spyglass
